@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
  url("../font/symbols-sedona.woff?60737633") format("woff"),
  url("../font/symbols-sedona.ttf?60737633") format("truetype"),
  url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #f2f2f2;
  height: 100%;
}

html, body, form, ul, h1, h2, h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

body {
  height: 100%;
}

.container {
  position: relative; /*нужно для прибивания футера к низу*/
  min-height: 100%;
  background-color: #fff;
  min-width: 768px;
}

main {
  padding-bottom: 122px;
}

@media(min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
            box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

a:hover {
  color: #81b3d2;
}

a:active, a.active:active {
  color: #cacaca;
}

p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

ul {
  list-style: none;
}

/**************Buttons*************/
.btn {
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}

.btn:hover {
  background-color: #669ec0;
  color: white;
}

.btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.search-btn {
  display: inline-block;
  vertical-align: top;
  padding: 35px 0;
  width: 100%;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
}

.search-btn:hover {
  background-color: #604e43;
  color: #fff;
}

.search-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.btn-more,
.btn-book {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.btn-more {
  width: 110px;
  height: 27px;
}

.btn-book {
  width: 140px;
  height: 27px;
  background-color: #766357;
  color: #fff;
}

.btn-book:hover {
  background-color: #604e43;
  color: white;
}

.btn-book:active {
  background-color: #503e33;
  color: #81746d;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 19px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  background-color: #81b3d2;
  margin-right: 5px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:before {
  font-family: "symbols-sedona", serif;
  font-style: normal;
  text-transform: none;
}

.social-btn-tw::before {
  content: "\74";
}

.social-btn-fb:before {
  content: "\66";
}

.social-btn-youtube::before {
  content: "\f39e";
}

/*--btn in modal form--*/
.modal-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 60px;
  color: white;
  background-color: #81b3d2;
  border: none;
  outline: none;
  width: 223px;
  padding: 0;
}

.modal-footer .secondary-btn {
  margin-left: 10px;
  background-color: #a9a9a9;
}

.secondary-btn:hover {
  background-color: #918f8f;
  color: white;
}

.secondary-btn:active {
  background-color: #838180;
  color: #a9a9a9;
}
/*************Main navigation*************/
.main-navigation {
  background-color: #fff;
  height: 56px;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height:  56px;
  width: 20%;
  text-align: center;
}

.main-navigation a {
  display: block;
  font-weight: 700;
}

.main-navigation .sedona-logo {
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.main-navigation .sedona-logo::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  background-image: url(../img/sprite.png);
  background-position: -5px -345px;
  background-repeat: no-repeat;
  height: 70px;
  width: 138px;
}

.main-navigation .sedona-logo a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
}

.main-header-introduction {
  height: 569px;
  background-color: #96b2cd;
  background-image: url("../img/main-photo.jpg"), linear-gradient(to bottom, #d0e0eb, #87655b);
  background-position: center;
  background-repeat: no-repeat;
}

.introduction {
  padding-top: 96px;
  padding-bottom: 57px;
  margin-top: -36px;
  text-align: center;
  background-image: url("../img/main-photo-mask-768.png");
  background-position: top;
  background-repeat: no-repeat;
}

@media(min-width: 1200px) {
  .introduction {
    background-image: url("../img/main-photo-mask-1280.png");
    margin-top: -57px;
    padding-top: 117px;
  }
}


.introduction h2 {
  margin-top: 38px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

/***************Reasons**************/
.reason {
  width: 34%;
  height: 256px;
  background-color: #81b4d3;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.reason-text {
  width: 165px;
  margin: 0 auto;
  padding-top: 45px;
}

.reason-number {
  position: relative;
  width: 52px;
  margin: 12px auto 22px;
  z-index: 2;
}

.reason-one, .reason-two-photo {
  float: left;
}

.reason-two, .reason-one-photo {
  float: right;
}

.reason-one .reason-number {
  background-color: #81b4d3;
}

.reason-two .reason-number {
  background-color: #81b4d3;
}

.reason-one-photo {
  width: 66%;
  height: 256px;
  background-color: #9e7e73;
  background-image: url("../img/city-photo.jpg");
  background-position: center;
}

.reason-two-photo {
  width: 66%;
  height: 256px;
  background-color: #9e7e73;
  background-image: url("../img/devil-bridge-photo.jpg");
}

.another-reason-number {
  background-color: #eee;
}

.reason-number span {
  position: relative;
  background-color: inherit;
  padding: 0 5px;
  z-index: 3;
}

.reason-number::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 10px;
  left: 0;
}

/***************Info-items*************/
.info-for-tourists, .another-reasons-text {
  font-size: 0;
}

.info-for-tourist-item, .another-reason-text {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 60px 0 55px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.another-reasons-text {
  background-color: #eee;
}

.info-for-tourist-content {
  display: inline-block;
  vertical-align: top;
  width: 165px;
}

.info-for-tourist-content div {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 78px;
  height: 77px;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 28px;
}

.info-for-tourist-item .home-icon {
  background-position: -5px -172px;
}

.info-for-tourist-item .burger-icon {
  background-position: -5px -5px;
}

.info-for-tourist-item .souvenir-icon {
  background-position: -5px -425px;
}

.info-for-tourist-item h3 {
  margin-bottom: 25px;
}

.info-for-tourist-item p, .another-reason-text p {
  margin: 0;
  padding: 0;
}

.another-reason-text .another-reason-content {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 157px;
  word-wrap: break-word;
}

.another-reason-number::before {
  background-color: #000;
}

/****************Hotel search map**********************/
.hotel-search {
  text-align: center;
  position: relative;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 100px;
  font-weight: 700;
  margin-top: 23px;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 45px;
}

.modal-search-form {
  display: none;
}

.modal-search-form-without-shadow {
  z-index: 5;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 567px;
}

.modal-search-form-with-shadow {
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
}


.hotel-search-map {
  display: block;
  height: 593px;
  margin-top: 96px;
  background-color: #c3d3a2;
  background-image: url("../img/map.jpg");
  background-position: center;
}

/**********************Footer**********************/
.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  text-align: center;
  font-size: 0;
  background-color: white;
}

.main-footer div {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
}

.tag {
  font-weight: 700;
  font-size: 21px;
}

.main-footer-social {
  font-size: 0;
}

.main-footer-copyright a {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 12px;
}

.glukhanko-img {
  background-position: -5px -92px;
  width: 27px;
  height: 30px;
}

.htmlacademy-img {
  background-position: -5px -259px;
  width: 26px;
  height: 33px;
}

.glukhanko-img:hover {
  background-position: -5px -132px;
  width: 27px;
  height: 30px;
}

.htmlacademy-img:hover {
  background-position: -5px -302px;
  width: 26px;
  height: 33px;
}

.glukhanko-img:active {
  background-position: -5px -92px;
  opacity: .3;
  width: 27px;
  height: 30px;
}

.htmlacademy-img:active {
  background-position: -5px -259px;
  opacity: .3;
  width: 26px;
  height: 33px;
}

/***********************HOTELS page***********************/
.bg-with-checkboxes {
  position: relative;
  background-color: #96b2cd;
  background: url("../img/bg-photo.jpg"), linear-gradient(to bottom, #d0e0eb, #87655b);
  height: 217px;
}

.filter-hotels {
  position: absolute;
  top: 26px;
  left: 0;
  font-size: 14px;
  color: white;
  width: 100%;
}

.filter-hotels  h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.filter-checkbox {
  margin-left: 32px;
  float: left;
  width: 224px;
}

.filter-checkbox input[type=checkbox] {
  display: none;
}

.filter-checkbox label {
  position: relative;
  display: block;
  padding-left: 41px;
  cursor: pointer;
  margin-bottom: 20px;
}

.filter-checkbox label::before {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: "symbols-sedona";
  font-size: 26px;
  content: "\2610";
}

.filter-checkbox input:checked + label::before {
  content: "\2611";
}

.filter-checkbox input:disabled + label {
  opacity: .4;
}

/******************Range******************/
.range-filters {
  float: right;
  margin-right: 32px;
  width: 33%;
  text-align: center;
}

@media (max-width: 900px) {
  .range-filters {
    width: 223px;
  }
}

.range-filters h3 {
  margin-bottom: 6px;
  text-align: left;
}

.range-filters input[type=submit] {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid white;
  padding: 8px 35px;
  text-transform: uppercase;
  outline: none;
}

.min-price,
.max-price {
  float: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  background-color: transparent;
  line-height: 21px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid white;
  padding: 6px 26px;
  border-radius: 3px;
  outline: none;
}

.min-price {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.max-price {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-js .price-controls {
  margin-bottom: 20px;
}

.price-controls {
  position: relative;
  overflow: hidden;
}

.price-controls::after {
  content: "";
  position: absolute;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 2px;
  bottom: 2px;
  left: 50%;
  width: 2px;
  min-height: 22px;
  background-color: white;
}

.price-controls input {
  color: white;
  text-transform: uppercase;
}


/**********Toggles***********/
.no-js .range-controls {
  display: none;
}

.range-controls {
  padding: 20px 10px 32px;
}

.range-controls .scale {
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  position: absolute;
  height: 2px;
  background-color: white;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  margin-left: -10px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  border-radius: 50%;
  background-color: #999;
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0, .14);
          box-shadow: 0 2px 0 0 rgba(0,0,0, .14);
  cursor: pointer;
}

.range-controls .toggle:active {
  background-color: #1c4f80;
}

/************Sorting***********/
.sort-header {
  padding: 30px 33px 22px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-header span,
.sort-result img {
  float: left;
}

.sort-header > span {
  font-weight: bold;
  width: 132px;
}

.filter {
  float: left;
  font-size: 12px;
  line-height: 30px;
  margin-left: 32px;
}

.filter > span {
  padding-right: 23px;
}

.filter-header {
  margin-left: 17px;
  margin-right: 17px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.filter-header-active {
  border-bottom: none;
  color: #81b3d2;
}

.sort-arrow-active {
  color: #81b3d2;
}

.filter-header:active {
  border-bottom: none;
  color: #000;
}

.sort-arrows,
.sort-result-rating {
  float: right;
}

.sort-arrows {
  font-size: 0;
}

.sort-arrow-down::before {
  font-family: "symbols-sedona";
  font-size: 23px;
  color: #ccc;
  content: "\25b2";
  margin-right: 13px;
}

.sort-arrow-up::before {
  font-family: "symbols-sedona";
  font-size: 23px;
  content: "\25bc";
}

.sort-arrow-up:hover::before,
.sort-arrow-down:hover::before {
  color: #000;
}

.sort-arrow-up:active::before,
.sort-arrow-down:active::before {
  color: #81b3d2;
}


/*********Sort Results*********/
.sort-result {
  padding: 32px 33px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
  overflow: hidden;
}

.hotel-name h2 {
  font-size: 21px;
  line-height: 18px;
  float: left;
}

.hotel-name span {
  float: right;
  color: #81b3d2;
}

.hotel-info {
  width: auto;
  margin-left: 165px;
}

.hotel-price {
  font-size: 14px;
}

.hotel-price span {
  display: inline-block;
  vertical-align: top;
  width: 110px;
}

.hotel-btns {
  font-size: 14px;
  margin-top: 10px;
}

.hotel-btns div {
  text-align: center;
  float: right;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
}

/*************Modal search form**************/
.modal-search-form {
  padding: 55px;
  background-color: white;
}

.numeric-input {
  background-color: #f2f2f2; /*для FF который неровно сглаживает инпут text и инпуты button*/
  display: inline-block;
  vertical-align: baseline;
  font-size: 0;
}

.modal-content,
.modal-footer {
  font-size: 0;
}

.modal-content label {
  width: 96px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
}

.modal-content input[type=text] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  margin-left: 20px;
  padding: 0 15px;
  width: 311px;
}

.modal-content .date-input {
  position: relative;
  margin-bottom: 30px;
}

.modal-content .date-input:after {
  content: "\e800";
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 26px;
  position: absolute;
  right: 9px;
  top: 6px;
  color: #c2c2c2;
}

.numeric-input {
  margin-left: 20px;
  margin-bottom: 30px;
  width: 115px;
}

.numeric-input input[type=text],
.numeric-input input[type=text] {
  width: 12px;
  margin-left: 0;
}

.numeric-input input[type=button],
.numeric-input input[type=button] {
  background-color: #f2f2f2;
  padding: 0 13px;
  border: none;
  outline: none;
  font-family: "symbols-sedona";
  font-size: 15px;
  line-height: 38px;
  color: #a9a9a9;
}

label[for=children-quantity] {
  margin-left: 51px;
  width: 40px;
}

